<ion-view view-title="Stockholm Bed & Breakfast">
  <ion-content class="aboutbgnd padding">
      <div class="description text-center padding">
          <h2 class="text-center">Welcome to Stockholm Bed & Breakfast</h2>
          <hr />
          <p>
          The Stockholm Bed & Breakfast the right choice for visitors who are searching for a combination of charm, peace and quiet, and a convenient position from which to explore Stockholm. 
          It is a small, comfortable hotel, situated in Värtahamnen, close to the subway station - Gärdet.   
          The buffet breakfast is served in the lounge on the ground floor, and also outside on our little patio during the summer months. 
          The hotel provides a free Wi-Fi service. </p>
          </div>
</ion-content>
</ion-view>
