<ion-view view-title="Stockholm Bed & Breakfast">
    <ion-content class="padding">
        <h3 class="text-center">Stockholm Bed & Breakfast</h3>
        <p>
            We are here everyday, between 6am - 10pm, meet us at Malmvägen 1.
        </p>
        
        <img class="full-image" src="/img/map.jpg" /> <!--An image which could be changed with real google map-->
        <ion-item><span><i class="icon ion-ios-telephone"></i> 08-11122233</span><span class="toright"><i class="icon ion-email"></i> info@sthlmbb.se</span></ion-item>
        <ion-item><span><i class="icon ion-home"></i> Malmvägen 1, Stockholm 987-65</span></ion-item>
        <div class="button-bar ">
            <a href="http://www.facebook.com" class="button icon ion-social-facebook icon-left button-positive">facebook</a>
            <a href="http://www.twitter.com" class="button icon ion-social-twitter icon-left button-positive">twitter</a>
        </div>      
    </ion-content>
</ion-view>
